body {
    background-color: #f9f9f9;
    color: black;
    font-family: sans-serif;
    margin: 0px auto 0px auto;
    width: 80%;
    max-width: 120em;
}

header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

.logo-image {
    vertical-align: middle;
}

header #navigation {
    text-align: right;
}

header #navigation a {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
}

footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 0.8em;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
    clear: both;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}

div.info {
    color: #555;
    font-style: italic;
}

a {
    color: #3d5c85;
    text-decoration: none;
}

li:not(:first-child) {
    margin-top: 0.5em;
}

.category-listing, .toc {
    float: right;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: #f7f7f7;
}

.is-current-page-true {
    list-style-type: initial;
}

.category-listing > ul {
    list-style-type: none;
    padding-left: 1em;
}

.toc ul {
    padding-left: 1em;
}

.toc li, .category-listing li {
    margin-top: 0.1em;
}

.bordered {
    border-color: #CDCCCC;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.img-wrap {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.8em;
}

.img-wrap-left {
    float: left;
    clear: both;
    margin-right: 5px;
}

.img-wrap-right {
    float: right;
    clear: both;
    margin-left: 5px;
}

.img-wrap-inline {
    border: none;
    display: inline-block;
}
