$if(hasSiblingSections)$
<aside class="category-listing bordered">
<a href="$parentPageUrl$">$parentPageTitle$</a>
<ul>
$for(siblingSections)$
<li class='is-current-page-$isCurrentPage()$'><a href="$url$">$title$</a></li>
$endfor$
</ul>
</aside>
$endif$

<article class="main-content">
$body$
</article>

$if(hasChildSections)$
<h2>Subsections</h2>
<ul>
    $for(childSections)$
    <li><a href="$url$">$title$</a>$if(hasShortDescr)$ &mdash; $shortdescr$$endif$</li>
    $endfor$
</ul>
$endif$

<div style="clear:both">
</div>
