<h2>Key plugins:</h2>
<dl>
    $for(keyplugins)$
    <dt><a href="$url$">$title$</a></dt>
    <dd>
        $shortdescr$
        $if(hasSubplugins)$
        <ul>
        $for(subplugins)$
            <li>
                <a href="$url$">$title$</a> &mdash; $shortdescr$
            </li>
        $endfor$
        </ul>
        $endif$
    </dd>
    $endfor$
</dl>

<h2>Other plugins:</h2>
<ul>
    $for(otherplugins)$
    <li>
        <a href="$url$">$title$</a> &mdash; $shortdescr$
    </li>
    $endfor$
</ul>
