body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 80%;
    max-width: 120em;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

a {
    color: #3d5c85;
    text-decoration: none;
}

.category-listing {
    float: right;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.is-current-page-true {
    list-style-type: initial;
}

.category-listing > ul {
    list-style-type: none;
    padding-left: 1em;
}

.bordered {
    border-color: #CDCCCC;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding-left: 0.5em;
    padding-right; 0.5em;
}
