div.expandable-container {
    position: relative;
}

input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

label {
    cursor: pointer;
    position: relative;
    display: block;
    padding-left: 1.5em;
}

label:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 10px;
    border-left: 0.5em solid black;
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    margin-top: -8px;
}

input[type=checkbox]:checked ~ label:before {
    border-left: 0.5em solid transparent;
    border-top: 0.5em solid black;
    border-right: 0.5em solid transparent;
    margin-left: -4px;
    margin-top: -4px
}

div.content {
    max-height: 0px;
    overflow: hidden;
    padding-left: 0em;
}

input[type=checkbox]:checked ~ div.content {
    max-height: none;
}
