<style>
.keyplugin-descr {
    margin-bottom: 0.5em;
}
</style>

<h2>Key plugins:</h2>
<dl>
    $for(keyplugins)$
    <dt><a href="$url$">$title$</a></dt>
    <dd class="keyplugin-descr">
        $shortdescr$
        $if(hasSubplugins)$
        <details>
            <summary>Subplugins</summary>
            <ul>
            $for(subplugins)$
            <li><a href="$url$">$title$</a> &mdash; $shortdescr$</li>
            $endfor$
            </ul>
        </details>
        $endif$
    </dd>
    $endfor$
</dl>

<h2>Other plugins:</h2>
<ul>
    $for(otherplugins)$
    <li>
        <a href="$url$">$title$</a> &mdash; $shortdescr$
    </li>
    $endfor$
</ul>
